.container{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
        font-size: 20px;
        font-weight: 300;
    }

    img{
        margin: auto;
    }

    .right{
        text-align: right;
    }

    .btn{
        border: none;
        color: #3e1861;
        font-weight: 600;
        align-items: center;
        display: flex;
        align-items: center;
        background: none;
        transition: all 1s ease;
        cursor: pointer;
        text-align: right;
        justify-content: flex-end;
    }
}