.login__container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #2f4858, #35507d, #654f95, #a53d92, #dc1670);
    background-color: #2f4858;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;

    main {   
        flex: 1 0 auto; 
        display: flex;
        align-items: center;
        text-align: center;
        .login__section{
            max-width: 420px;
            padding: 20px;
            border-radius: 20px;
            background-color: #FFF;
            position: relative;
            &__img {
                position: absolute;
                top: -80px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 180px;
            }

            &__btn{
                width: 100%;
                border: none;
                height: 40px;
                border-radius: 20px;
                background-color: #29CEAE;
                color: #FFF;
                font-weight: 600;
                margin-top: 20px;
                margin-bottom: 20px;
                transition: all 1s ease;
                cursor: pointer;
                &:disabled{
                    opacity: 0.6;
                    cursor: not-allowed;
                }
                &:hover{
                    background-color: #209e85;
                }
            }
            
            h1{
                margin: 100px 0 0 0;
                font-weight: 300;
                text-align: center;
                color: #654F97;
            }
        }
    }
    
    footer {
        padding: 20px 0;
        flex-shrink: 0;   
        color: #FFF; 
        font-size: 1rem;
        p{
            font-size: 0.7rem;
        }
        a{
            color: #FFF; 
            text-decoration: none;
        }
    }
}