<div class="login__container">
    <main>
        <section class="login__section" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
            <img class="login__section__img" src="../../assets/user-vector.svg" alt="User Profile Image">
            <h1>LOGIN FORM</h1>
            <form>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
                <button class="login__section__btn">CONTINUE</button>
            </form>
        </section>
    </main>
    <footer>
        <p>© Login Form. All Rights Reserved. Developed by <strong><a href="https://www.linkedin.com/in/romina-luzzi/" target="_blank" rel="Linkedin Profile">codegirl</a></strong></p>
    </footer>
</div>