header{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 80px;
}

main{
    width: 100%;
    min-height: calc(100vh - 216px);
    max-width: 1280px;
    margin: auto;
    h1{
        font-weight: 300;
    }
}

.container-title{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
}

.table{
    border-radius: 20px;
    box-shadow: rgba(47, 35, 120, 0.15) 0px 48px 100px 0px;
    &-row-header, &-row-content{
        display: grid;
        grid-template-columns: 0.25fr 1fr 2fr 1fr 0.5fr 0.5fr;
        gap: 20px;
    }
    app-spinner{
        min-height: 60vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    &-row-header{
        height: 40px;
        padding: 10px 10px;
        border-bottom: 1px solid #ccc;
        align-items: center;
        justify-content: space-between;
    }

    &-row-content{
        padding: 20px 10px;
    }
    mat-paginator{
        border-radius: 0 0 20px 20px;
    }
}


footer {
    margin-top: 100px;
    background-image: linear-gradient(to right top, #654f95, #a53d92, #dc1670);
    background-color: #654f95;
    padding: 10px 0;
    flex-shrink: 0;   
    color: #FFF; 
    font-size: 1rem;
    text-align: center;
    p{
        font-size: 0.7rem;
    }
    a{
        color: #FFF; 
        text-decoration: none;
    }
}