header{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    height: 80px;

    .btn{
        border: none;
        color: #3e1861;
        font-weight: 600;
        display: flex;
        align-items: center;
        background: none;
        transition: all 1s ease;
        cursor: pointer;
    }
}

main{
    width: 100%;
    min-height: calc(100vh - 216px);
    max-width: 1280px;
    margin: auto;
    h1{
        font-weight: 300;
    }
}

.container__title{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    @media screen and (max-width: 768px) {
        h1{
            grid-area: title;
        }
        .search{
            grid-area: search;
        }
        .category{
            grid-area: category;
        }
        grid-template-columns: inherit;
        grid-template-areas: "title title"
        "search category";
        gap: 20px;
    }
    gap: 40px;
}

.table{
    border-radius: 20px;
    box-shadow: rgba(47, 35, 120, 0.15) 0px 48px 100px 0px;
    &__header, &__content{
        display: grid;
        grid-template-columns: 0.25fr 1fr 2fr 1fr 0.5fr 0.5fr;
        gap: 20px;
    }
    app-spinner{
        min-height: 60vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    &__header{
        height: 40px;
        padding: 10px 10px;
        border-bottom: 1px solid #ccc;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 786px) {
            display: none;
        }
        .text__center{
            text-align: center;
        }
    }

    &__content{
        padding: 20px 10px;
        border-bottom: 1px solid #e9e9e9;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        &__btn{
            width: 100%;
            border: none;
            height: 40px;
            border-radius: 20px;
            background-color: #29CEAE;
            color: #FFF;
            font-weight: 600;
            gap: 8px;
            transition: all 1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            &:hover{
                background-color: #209e85;
            }
        }
    }
    mat-paginator{
        border-radius: 0 0 20px 20px;
    }
}

.table__no__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0;

    &__img{
        width: 100%;
        max-width: 400px;
    }
}

footer {
    margin-top: 100px;
    background-image: linear-gradient(to right top, #654f95, #a53d92, #dc1670);
    background-color: #654f95;
    padding: 10px 0;
    flex-shrink: 0;   
    color: #FFF; 
    font-size: 1rem;
    text-align: center;
    p{
        font-size: 0.7rem;
    }
    a{
        color: #FFF; 
        text-decoration: none;
    }
}

header, main{
    @media screen and (max-width: 768px) {
        padding: 0 16px;
    } 
}