@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}


.mat-mdc-form-field{
    width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
}

.failed-snackbar.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #ce1234;
}

.sucess-snackbar.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #14a23f;
}